.caixa {
    width: 600px;
    padding: 20px;
    font-size: 12px;
  
    background-color: #ccc;
    border: 5px solid black;
  }


/* quando eu utilizo pixel como unidade de medida o ojbeto não se altera
mesmo que o usuário tente aumentar ou diminuir no próprio agente, o navegador*/

/*logo pixel deve ser evitado quando você utiliza desenvolvimento web responsivo,
principalmente para tamanho de fonte.
pixel na fonte atrapalha a acessibilidade
pixel nas caixas atrapalham a responsividade*/